@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  scroll-behavior: smooth !important;
  list-style: none;
}

body {
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
  transition: all .2s ease;
}

:root .light {
  --primary-bg: #ffffff;
  --secondary-bg: #f5f5f5;
  --primary-color: #000;
  --secondary-color: #fff;
  --blog: #ff2e63;
  --blog-secondary: #ca244d;
  --acsent-color: rgb(136, 136, 136);
  --navbar-shadow: rgba(0, 0, 0, 0.17);
  --navbar-shadow-invert: rgba(0, 0, 0, 0.17);
}

:root .dark {
  --primary-bg: #131516;
  --secondary-bg: #1b1d1e;
  --primary-color: #fff;
  --secondary-color: #000;
  --blog: #ff2e63;
  --blog-secondary: #ca244d;
  --acsent-color: rgb(189, 189, 189);
  --navbar-shadow: rgba(255, 255, 255, 0.17);
}

a {
  text-decoration: none;
}

.font-sans {
  font-family: "DM Sans", sans-serif;
}

.font-poppin {
  font-family: "Poppins", sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-white {
  color: var(--primary-color);
}

.text-yellowish {
  color: var(--text-yellowish);
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: var(--main-bg);
}

.bg-dark-light {
  background-color: var(--dark-light-bg);
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.margin-0 {
  margin: 0;
}

.line-div {
  margin: auto;
  width: 70%;
  opacity: 0.5;
  border-bottom: 1px dashed var(--course-border);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 12px 20px;
}

nav {
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: var(--navbar-shadow) 0px 5px 15px 0px;
}

.logo img {
  width: 180px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  transition: 0.15s ease-in-out;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--light-white);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

.first-section h2 span {
  background: -webkit-linear-gradient(
    90deg,
    var(--blog-secondary) 0%,
    var(--blog) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: max-content;
}

.first-section a {
  background: rgb(190, 32, 72);
  background: linear-gradient(
    90deg,
    var(--blog-secondary) 30%,
    var(--blog) 100%
  );
  border-radius: 99px;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  margin-top: 25px;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.headerImage {
  position: relative;
  animation: animate 2s alternate infinite;
}

.second-section {
  background: rgb(190, 32, 72);
  background: linear-gradient(90deg, var(--blog-secondary), var(--blog));
  box-sizing: border-box;
  position: relative;
  color: #fff;
  border-radius: 1.2rem;
}

.btn-design {
  background: rgb(190, 32, 72);
  background: linear-gradient(
    90deg,
    var(--blog-secondary) 30%,
    var(--blog) 100%
  );
  border-radius: 99px;
  box-sizing: border-box;
  cursor: pointer;

  line-height: 24px;
  opacity: 1;
  color: #ffffff;
  outline: 0 solid transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.section-one-title {
  color: var(--primary-color);
}

.journey-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.border-right {
  border-right: 1px solid black;
}

.third-section {
  padding: 5% 10%;
  color: var(--primary-color);
  background-color: var(--secondary-bg);
}

.third-section-title {
  margin-bottom: 4%;
}

.third-section-title span {
  color: var(--blog);
}

.card {
  transition: all 0.6s ease;
  margin: auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
  border-width: 1px;
  background-color: var(--primary-bg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover {
  transform: scale(1.02);
}

.course-thumbnail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.card-level {
  display: inline;
  padding: 0.15rem 0.7rem;
  border-radius: 99px;
  color: #09c533;

  font-size: 0.7rem;
  border: 2px solid #09c533;
}

.course-title {
  margin: 20px 0px;
  font-size: 1.7rem;
  color: var(--primary-color);
}

.line {
  border-bottom: 2px solid var(--acsent-color);
  width: 70%;
  opacity: 0.2;
}

.course-price-section {
  display: flex;
  flex-direction: row;
}

.final-price {
  color: var(--blog);
  margin-left: 5px;
  font-size: 1.3rem;
}

.prev-price {
  margin-left: 15px;
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--acsent-color);
}

.discount-percent {
  color: #fff;
  font-size: 1rem;
  border-radius: 0.375rem;
  padding: 6px 10px;
  margin-left: 15px;
  background-color: #09c533;
}

.instructor-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.instructor-title p {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

.instructor-title p span {
  color: var(--blog);
}

.button-61 {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  justify-content: center;
  letter-spacing: 0.0892857em;
  min-width: 64px;
  outline: none;
  overflow: visible;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  will-change: transform, opacity;
}

.button-61:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button-61:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0.14) 0 0 0 0,
    rgba(0, 0, 0, 0.12) 0 0 0 0;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}

.button-61:not(:disabled) {
  color: #fff;
  background-color: var(--blog);
}

.button-61:focus {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0 4px 5px 0,
    rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}

.button-61:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0 8px 10px 1px, rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
  background: var(--know-more-btn-active);
}

.line-long {
  width: 100%;
  border-bottom: 1px solid var(--acsent-color);
}

.instructor-content {
  padding: 4rem 0;
}

.image-div img {
  width: 16rem;
}

.name-div {
  margin-top: 2rem;
}

.name {
  font-size: 1.875rem;

  line-height: 2.25rem;
  margin: 0;
  padding: 0;
}

.designation {
  color: var(--acsent-color);
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  font-weight: 400;
  padding: 0;
}

.description-div {
  border: 1px dashed var(--course-border);
  padding: 20px;
  border-radius: 15px;
}

.description {
  font-size: 1.5rem;

  font-weight: 200;
  line-height: 2rem;
  margin: 0;
  text-align: justify;
  padding: 0;
}

.description span {
  color: var(--blog);
}

.social-title {
  color: var(--primary-color);
  margin: 0;
}

.social-desc {
  color: var(--primary-color);
  font-weight: 500;
}

.git-redirect,
.git-text {
  color: var(--primary-color);
}

.social-card-section {
  font-size: 1.5rem;
  line-height: 2rem;
  gap: 3rem;
  display: grid;
  justify-content: center;
  margin-top: 4rem;
}

.social-card {
  gap: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.social-icon {
  width: 5rem;
  height: 5rem;
}

.social-icon img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-link {
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.advantage-section {
  padding-bottom: 100px;
  width: 100vw;
}

.whycm-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.whycm-container p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--acsent-color);
}

.advantage-sub-section {
  margin: auto;
  max-width: 1500px;
}

.advantage-section {
  text-align: center;
  font-family: "Poppins", "sans-serif";
  font-weight: 600;
}

.whycm-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0 2rem;
}

.adv-section {
  box-shadow: rgb(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.whycm-container .adv-section {
  background-color: var(--secondary-bg);
  border-radius: 1.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: auto;
  padding: 80px 20px;
  width: 80%;
}

.whycm-container .adv-section .adv-card {
  background: var(--primary-bg);
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 170px;
  justify-content: center;
  padding: 2rem;
  transition: all 0.3s ease;
  width: 200px;
  cursor: pointer;
  perspective: 100px;
}

.whycm-container .adv-section .adv-card img {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
}

.adv-desc {
  text-align: left;
  font-size: 18px;
  font-family: Poppins, "sans-serif";
  font-weight: 400;
  color: var(--primary-color);
}

.adv-card:hover {
  background: rgba(255, 46, 99, 1) !important;
  transform: scale(1.05);
  color: #fff !important;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 5px;
}

.about-us {
  background-color: var(--secondary-bg);
  color: var(--primary-color);
}

.super-container {
  align-items: center;
  background: var(--dark-light-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.components-outer-container {
  margin: auto;
  max-width: 1500px;
}

.footer-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  overflow-x: hidden !important;
  width: 100%;
}

.footer-container .first {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  line-height: 28px;
  padding: 2rem;
  width: 36%;
}

.footer-container img {
  height: 40px;
}

.footer-container .first .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-container .second {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 40px;
  margin-top: 2rem;
  padding: 2rem;
  width: 30%;
}

.footer-container a {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.footer-container .third {
  color: var(--);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 30%;
}

.footer-container .third .top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-container .third p {
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-container .third .top .social-icons {
  display: flex;
  gap: 1rem;
}

.footer-container .third .top .social-icons a {
  font-size: 1.6rem;
  font-weight: 600;
}

.footer-container .third .bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-container .third p {
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-container a {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

/* Theme Change Toggle */

.wrapper {
  margin: auto;
}

#hide_checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #fffff9;
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 3px;
}

.crater-2 {
  width: 7px;
  height: 7px;
  top: -2px;
  left: 12px;
}

.crater-3 {
  width: 6px;
  height: 6px;
  top: 5px;
  right: -2px;
}

.crater-4 {
  width: 5px;
  height: 5px;
  top: 12px;
  left: 15px;
}

.crater-5 {
  width: 3px;
  height: 3px;
  top: 7px;
  left: 7px;
}

.crater-6 {
  width: 10px;
  height: 10px;
  top: 15px;
  left: 4px;
}

.crater-7 {
  width: 12px;
  height: 12px;
  bottom: -4px;
  left: 5px;
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
  width: 3px;
  height: 3px;
  right: 19px;
  bottom: 23px;
}

.star-2 {
  width: 1px;
  height: 1px;
  right: 30px;
  top: 29px;
}

.star-3 {
  width: 1px;
  height: 1px;
  right: 5px;
  bottom: 15px;
}

.star-4 {
  width: 1px;
  height: 1px;
  right: 35px;
  bottom: 33px;
}

.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}

.star-6,
.star-7,
.star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 22px;
  bottom: 25px;
  animation-delay: -2s;
}

.star-7 {
  right: 11px;
  bottom: 18px;
}

.star-8 {
  right: 33px;
  top: 10px;
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}

#hide_checkbox:checked + .toggle {
  background: #24d7f7;
}

#hide_checkbox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(32px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide_checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide_checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star-1 {
  width: 21px;
  height: 6px;
  border-radius: 10px;
  background: #fff;
  left: 7px;
  top: 22px;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star-2 {
  width: 9px;
  height: 9px;
  background: #fff;
  left: 10px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star-3 {
  width: 11px;
  height: 11px;
  background: #fff;
  left: 16px;
  top: 17px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star-4 {
  width: 9px;
  height: 9px;
  background: #fff;
  left: 23px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star-5 {
  width: 15px;
  height: 6px;
  border-radius: 15px;
  background: #fff;
  left: 13px;
  bottom: 23px;
  box-shadow: none;
}

#hide_checkbox:checked + .toggle .star-6 {
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  left: 16px;
  bottom: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star-7 {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  left: 19px;
  bottom: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide_checkbox:checked + .toggle .star-8 {
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  left: 23px;
  top: 0px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}

.wrapper p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #fff;
}

p.morning {
  background: #e67e22;
}

.super-container {
  background-color: var(--secondary-bg);
}

/* Contact Us Page Start */

.contact-form-section {
  transform: translateY(-80px);
}

.contact-section {
  position: relative;
  margin-top: 70px;
}

.contact-bg {
  background-color: rgb(0, 0, 0, 1);
}

.image {
  background-image: url(images/contact_bg.jpg);
  height: 60vh;
  opacity: 0.4;
  background-size: cover;
  background-position: center center;
}

.contact-bg h1 {
  z-index: 999;
  color: var(--primary-color);
  margin: auto;
}

.contact-title {
  position: absolute;
  top: 0;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

.form-title {
  margin-bottom: 3.5rem;
}

.contact-title h1 {
  margin: 0;
  font-size: 3rem;
}

.contact-title p {
  margin: 0;
  font-size: 0.9rem;
}

.contact-form-section {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

.first-contact-section {
  margin-bottom: 2rem;
}

.contact-form {
  background-color: var(--secondary-bg);
  color: var(--primary-color);
  padding: 3rem 2.5rem;
  font-family: "Rubik", sans-serif;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.send-title {
  font-weight: 600;
  margin: 0;
}

.input-container {
  position: relative;
}

.input-container label{
	position:absolute;
	top: -13px;
	left:0px;
	font-size:12px;
	color:var(--acsent-color);	
	transition: all 0.5s ease-in-out;
}

.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:var(--primary-color);
}

.submit-btn {
  margin-top: 2rem;
}

.submit-btn a {
  color: #fff;
  background: var(--blog);
  float: right;
  vertical-align: middle;
  display: flex;
  align-items: center;
  transition: all .4s ease;
}

.submit-btn a:hover{
  background-color: var(--blog-secondary);
}


.social-contact {
  background-color: var(--blog);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2rem;
  font-family: "Rubik", sans-serif;
}

.social-contact p {
  font-weight: 700;
  font-size: 1.5rem;
}

.mail-content {
  place-content: center;
  place-self: center;
  display: grid;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.mail-content a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}

.mail-logo {
  place-content: center;
  border-radius: .5rem;
  width: 52px;
  height: 52px;
  font-size: 1.5rem;
  display: grid;
  background-color: rgb(0, 0, 0, .2);
}

.mail-logo svg {
  place-content: center;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.icons a {
  color: #fff;
}


/* Contact Us Page End */






@media only screen and (min-width: 769px) {
  /* For Desktop */

  .title {
    font-size: 42px;
  }

  .menu {
    line-height: 80px;
  }

  .btn-design {
    font-size: 16px;
    padding: 8px 28px;
  }

  .first-section {
    text-align: left;
    margin: 12% 10%;
    display: flex;
    flex-direction: row;
  }

  .first-section h2 {
    font-size: 54px;
  }

  .first-section h3 {
    font-weight: 200;
    font-size: 22px;
    margin: 0px 0px 49px 0px;
  }

  .headerText {
    width: 60%;
  }

  .headerImage-div {
    width: 40%;
    margin: 0px 0px 0px 0px;
  }

  .headerImage {
    width: 75%;
    float: right;
  }

  .first-section a {
    font-size: 20px;
    padding: 18px 36px;
  }

  .second-section {
    box-shadow: var(--drop-shadow) 10px 10px 0px -2px;
    padding: 3% 5%;
    margin: 3% 20%;
  }

  .journey-title {
    font-size: 38px;
  }

  .journey-title p {
    margin: 0px 0px 20px 0px;
    padding: 0;
  }

  .journey-list {
    margin: 0px 30px;
    top: 0;
  }

  .journey-items h4 {
    font-size: 32px;
    margin: 5px 0px;
    padding: 0;
  }

  .journey-items p {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .card {
    max-width: 350px;
  }

  .about-us {
    padding: 3% 20%;
  }

  .button-61 {
    font-size: 0.875rem;
    padding: 0.75rem 1.75rem;
  }

  .image-div img {
    width: 16rem;
    height: 16rem;
  }

  .social-section {
    padding: 5% 20%;
  }

  .social-card-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .social-desc {
    font-size: 1rem;
  }

  /* Contact Section Started */

  .contact-form-section {
    display: flex;
  }

  .contact-form {
    width: 70%;
  }

  .contact-title {
    display: flex;
    height: 100%;
    margin-left: 15%;
    align-items: center;
  }

  .form-title {
    font-size: 2.25rem;
  }

  .form-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .first-contact-section {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


.submit-btn a {
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: var(--blog);
  float: right;
  font-size: 1.25rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  transition: all .4s ease;
}

.submit-btn a:hover{
  background-color: var(--blog-secondary);
}

.submit-btn a svg{
  margin-left: .6rem;
}

  .social-contact {
    width: 30%;
    background-color: var(--blog);
  }

  /* Contact Section Ended */
}

@media only screen and (max-width: 900px) {
  /* For Phone */

  .title {
    font-size: 40px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -100%;
    z-index: 100;
    background-color: var(--blog);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }

  .btn-design {
    font-size: 16px;
    padding: 8px 28px;
  }

  .wrapper {
    margin: 5px 35px 0px 0px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  .first-section {
    padding: 80px 5px;
    text-align: center;
    margin: 20px 0px;
  }

  .first-section h2 {
    font-size: 38px;
  }

  .first-section h2 span {
    font-size: 28px;
  }

  .first-section h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0px 38px 0px;
  }

  .headerImage {
    width: 100%;
    margin-top: 60px;
  }

  .first-section a {
    font-size: 20px;
    padding: 10px 25px;
  }

  .second-section {
    padding: 40px 0px;
    margin: 50px 0px;
  }

  .journey-title {
    font-size: 26px;
  }

  .journey-title p {
    margin: 0px 0px 20px 0px;
    padding: 0;
  }

  .journey-list {
    margin: 0px 30px;
    top: 0;
  }

  .journey-items h4 {
    font-size: 20px;
    margin: 5px 0px;
    padding: 0;
  }

  .journey-items p {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .card {
    width: 90%;
  }

  .about-us {
    padding: 15% 8%;
  }

  .instructor-title p {
    font-size: 24px;
  }

  .button-61 {
    font-size: 0.575rem;
    line-height: 1.25rem;
    inline-size: 100px;
    padding: 0.5rem 1rem;
  }

  .image-div img {
    width: 13rem;
    height: 13rem;
  }

  .social-section {
    padding: 20% 10%;
  }

  .social-card-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .social-desc {
    font-size: 0.8rem;
  }

  .advantage-desc {
    font-size: 0.875rem;
    font-weight: 300;
  }

  .whycm-container h1 {
    font-size: 2rem;
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .whycm-container p {
    font-size: 1.2rem;
    margin: auto auto 1.5rem;
    text-align: center;
    width: 90%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .footer-container .first {
    margin: 0;
    width: 90%;
  }

  .footer-container .first {
    width: 80%;
  }

  .footer-container img {
    width: 250px;
    height: auto;
  }

  .copyright {
    margin: 0;
  }

  .footer-container .second,
  .footer-container .third {
    align-items: flex-start;
    margin: 0;
    width: 90%;
  }

  /* Contact Section Started */

  .contact-form-section {
    display: flex;
    flex-direction: column;
  }

  .contact-title {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .form-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .first-contact-section {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.submit-btn a {
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: var(--blog);
  float: right;
  font-size: 1.25rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  transition: all .4s ease;
}

.submit-btn a:hover{
  background-color: var(--blog-secondary);
}

.submit-btn a svg{
  margin-left: .6rem;
}

.social-contact {
  padding: 2rem 1.25rem;
  height: 440px;
}
  /* Contact Section Ended */
}

@keyframes animate {
  from {
    bottom: 0;
  }
  to {
    bottom: 20px;
  }
}
