@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400 !important;0,500 !important;0,700 !important;1,400 !important;1,500 !important;1,700&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg) !important;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  list-style: none !important;
  position: relative !important;
  color: var(--navbar-text);
  padding: 12px 20px !important;
}

.logo img {
  width: 180px !important;
}
.menu {
  display: flex !important;
}
.menu li {
  padding-left: 30px !important;
}
.menu li a {
  display: inline-block !important;
  text-decoration: none !important;
  color: var(--black) !important;
  text-align: center !important;
  font-family: "DM Sans", sans-serif !important;
  transition: 0.15s ease-in-out !important;
  position: relative !important;
}

.menu li a::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 1px !important;
  background-color: var(--light-white) !important;
  transition: 0.15s ease-in-out !important;
}
.menu li a:hover:after {
  width: 100% !important;
}
.open-menu,
.close-menu {
  position: absolute !important;
  color: var(--light-white) !important;
  cursor: pointer !important;
  font-size: 1.5rem !important;
  display: none !important;
}
.open-menu {
  top: 50% !important;
  right: 20px !important;
  transform: translateY(-50%) !important;
}
.close-menu {
  top: 20px !important;
  right: 20px !important;
}
#check {
  display: none !important;
}



.first-section h2 {
  color: var(--section1-h2) !important;
}

.first-section {
  font-family: "DM Sans", sans-serif !important;
}

.first-section h2 span {
  background: -webkit-linear-gradient(
    90deg,
    var(--gra-up) 0%,
    var(--gra-down) 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  max-width: max-content !important;
}

.first-section h3 {
  color: var(--section1-h3) !important;
}

.first-section button {
  background: rgb(190, 32, 72) !important;
  background: linear-gradient(
    90deg,
    var(--gra-up) 30%,
    var(--gra-down) 100%
  ) !important;
  border-radius: 99px !important;
  box-shadow: var(--gra-down) 0 5px 30px -5px !important;
  box-sizing: border-box !important;
  color: #ffffff !important;
  cursor: pointer !important;
  font-family: "DM Sans", sans-serif !important;
  margin-top: 25px !important;
  line-height: 24px !important;
  opacity: 1 !important;
  outline: 0 solid transparent !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  width: fit-content !important;
  word-break: break-word !important;
  border: 0 !important;
}

.headerImage {
  position: relative !important;
  animation: animate 2s alternate infinite !important;
}


.second-section {
  background: rgb(190, 32, 72) !important;
  background: linear-gradient(
    90deg,
    var(--gra-up),
    var(--gra-down)
  ) !important;
  box-shadow: var(--drop-shadow) 10px 10px 0px -2px !important;
  box-sizing: border-box !important;
  position: relative !important;
  border-radius: 1.2rem !important;
}

.btn-design {
  background: rgb(190, 32, 72) !important;
  background: linear-gradient(
    90deg,
    var(--gra-up) 30%,
    var(--gra-down) 100%
  ) !important;
  border-radius: 99px !important;
  box-shadow: var(--gra-down) 0 5px 30px -5px !important;
  box-sizing: border-box !important;
  color: #ffffff !important;
  cursor: pointer !important;
  font-family: "DM Sans", sans-serif !important;
  line-height: 24px !important;
  opacity: 1 !important;
  outline: 0 solid transparent !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  width: fit-content !important;
  word-break: break-word !important;
  border: 0 !important;
}

.journey-title{
  font-family: "DM Sans", sans-serif !important;
  text-align: center !important;
  font-weight: bolder !important;
  color: var(--text-white) !important;
}

.journey-list {
  color: var(--text-white) !important;
  font-family: "DM Sans", sans-serif !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
}

.journey-items {
  text-align: center !important;
}

.border-right {
  border-right: 1px solid black !important;
}

.third-section {
  padding: 5% 10% !important;
  background-color: var(--course-bg) !important;
}

.third-section-title {
  text-align: center !important;
  font-family: "DM Sans", sans-serif !important;
  color: var(--text-white) !important;
  margin-bottom: 4% !important;
}

.third-section-title span {
  color: var(--text-red) !important;
}

.card {
  transition: box-shadow .6s;
  margin: auto !important;
  padding: 1.25rem !important;
  border-radius: 0.5rem !important;
  border: 0.1px solid var(--course-border);
  border-width: 1px !important;
  --tw-border-opacity: 1;
  border-color: rgb(53 58 60/var(--tw-border-opacity));
}

.card:hover {
  box-shadow: 0 0 5px var(--card-shadow); 
}

.course-thumbnail {
  width: 100% !important;
  border-radius: 5px !important;
  margin-bottom: 1rem;
}

.card-level {
  display: inline;
  padding: 0.15rem 0.7rem;
  border-radius: 99px;
  font-weight: 600;
  color: var(--card-level-border) !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: .7rem !important;
  border: 2px solid var(--card-level-border);
}

.course-title {
  font-family: "DM Sans", sans-serif !important;
  color: var(--text-white) !important;
  font-size: 1.7rem;
}

.line {
  border-bottom: 1px solid var(--line-color) !important;
  width: 70% !important;
  opacity: .2;
}

.course-price-section {
  display: flex;
  flex-direction: row;
  color: var(--text-white);
  font-family: "DM Sans", sans-serif !important;
  font-weight: 700;
}

.final-price {
  margin-left: 5px;
  font-size: 1.3rem;
  color: var(--text-white);
}


.prev-price {
  margin-left: 15px;
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--text-red);
}

.discount-percent {
  background-color: var(--dicount-bg);
  font-size: 1rem;
  border-radius: 0.375rem;
  padding: 6px 10px;
  margin-left: 15px;
}

@media only screen and (min-width: 769px) {
  /* For Desktop */

  .menu {
    margin-right: 10% !important;
    line-height: 100px !important;
  }

  .logo {
    margin: 0% 10% !important;
  }

  .menu li a {
    color: var(--navbar-text) !important;
  }

  .btn-design {
    font-size: 16px !important;
    padding: 8px 28px !important;
    font-weight: 500 !important;
  }

  .first-section {
    text-align: left !important;
    margin: 8% 10% !important;
    display: flex !important;
    flex-direction: row !important;
  }

  .first-section h2 {
    font-weight: 700 !important;
    font-size: 54px !important;
  }

  .first-section h3 {
    font-weight: 200 !important;
    font-size: 22px;
    margin: 0px 0px !important;
  }

  .headerText {
    width: 50% !important;
  }

  .headerImage-div {
    width: 50% !important;
    margin: 0px 0px 0px 0px !important;
  }

  .headerImage {
    width: 75% !important;
    float: right !important;
  }

  .first-section button {
    font-size: 20px !important;
    padding: 18px 36px !important;
    font-weight: 600 !important;
  }

  .second-section {
    padding: 3% 5% !important;
    margin: 13% 20% !important;
  }
  
  .journey-title{
    font-size: 38px !important;
  }
  
  .journey-title p {
    margin: 0px 0px 20px 0px !important;
    padding: 0 !important;
  }
  
  .journey-list {
    margin: 0px 30px !important;
    top: 0 !important;
  }
  
  .journey-items h4 {
    font-size: 32px !important;
    font-weight: 800 !important;
    margin: 5px 0px !important;
    padding: 0 !important;
  }
  
  .journey-items p {
    font-weight: 500 !important;
    font-size: 18px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .third-section-title {
    font-size: 42px !important;
  }

  .card {
    max-width: 350px !important;
  }
  
}

@media only screen and (max-width: 768px) {
  /* For Phone */
  .menu {
    flex-direction: column !important;
    align-items: center !important;
    width: 80% !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0px !important;
    right: -100% !important;
    z-index: 100 !important;
    background-color: var(--menu-bg) !important;
    transition: all 0.2s ease-in-out !important;
  }
  .menu li {
    margin-top: 40px !important;
  }
  .menu li a {
    padding: 10px !important;
  }

  .btn-design {
    font-size: 16px !important;
    padding: 8px 28px !important;
    font-weight: 500 !important;
  }

  .open-menu,
  .close-menu {
    display: block !important;
  }
  #check:checked ~ .menu {
    right: 0 !important;
  }

  .first-section {
    padding: 30px 5px !important;
    text-align: center !important;
    margin: 20px 0px !important;
  }

  .first-section h2 {
    font-weight: 600 !important;
    font-size: 38px !important;
  }

  .first-section h3 {
    font-weight: normal !important;
    margin: 0px 0px !important;
  }

  .headerImage {
    width: 100% !important;
    margin-top: 30px !important;
  }

  .first-section button {
    font-size: 20px !important;
    padding: 10px 25px !important;
    font-weight: 600 !important;
  }

  .second-section {
    padding: 40px 0px !important;
    margin: 50px 0px !important;
  }
  
  .journey-title{
    font-size: 26px !important;
  }
  
  .journey-title p {
    margin: 0px 0px 20px 0px !important;
    padding: 0 !important;
  }
  
  .journey-list {
    margin: 0px 30px !important;
    top: 0 !important;
  }
  
  .journey-items h4 {
    font-size: 20px !important;
    font-weight: 700 !important;
    margin: 5px 0px !important;
    padding: 0 !important;
  }
  
  .journey-items p {
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .third-section-title {
    font-size: 24px !important;
  }
  
  .card {
    width: 90% !important;
  }
  
}

@keyframes animate {
  from{
    bottom: 0;
  }
  to{
    bottom: 20px;
  }
}

:root {
  --main-bg: #141517 !important;
  --menu-bg: #ff2e63 !important;
  --section1-h2: #ffffff !important;
  --section1-h3: #ffffff !important;
  --navbar-text: #ffffff !important;

  --gra-up: rgb(190, 32, 72, 1) !important;
  --gra-down: rgba(255, 46, 99, 1) !important;
  --drop-shadow: #cb1744 !important;


  --text-white: #eaeaea !important;
  --text-red: rgba(255, 46, 99, 1) !important;


  /* Card */
  --line-color: #bfbfbf !important;
  --course-bg: rgb(27 29 30) !important;
  --course-border: #939393 !important;
  --dicount-bg: rgb(29 209 161) !important;
  --card-shadow: rgba(255, 46, 99, 1) !important;
  --card-level-border: #09c533 !important;





  --black: #252a34 !important;
  --light-green: #08d9d6 !important;
  --pink: rgb(190, 32, 72) !important;
  --light-white: #eaeaea !important;
  --dark-blue: #1e0738 !important;
}